In [41]:
import pandas as pd
import re

In [7]:
with open('input.txt') as inp:
    data = inp.read().split('\n')

In [59]:
ser = pd.Series(data).apply(lambda r: re.findall('(.*)-(.*) (.): (.*)', r)[0])

In [74]:
df = pd.DataFrame([[a, b, c, d] for a,b,c,d in ser.values], columns=['left', 'right', 'target', 'password']).astype({
    'left': int, 
    'right': int})

In [75]:
df['occurences'] = df.apply(lambda r: r.password.count(r.target), axis=1)

In [76]:
df['valid'] = df['occurences'].between(df['left'], df['right'])

In [79]:
df['valid'].sum()

434

## Part II

In [90]:
ser = pd.Series(data).apply(lambda r: re.findall('(.*)-(.*) (.): (.*)', r)[0])
df = pd.DataFrame([[a, b, c, d] for a,b,c,d in ser.values], columns=['left', 'right', 'target', 'password']).astype({
    'left': int, 
    'right': int})

In [91]:
df.head()

   left  right target             password
0     4      5      l               rllllj
1     4     10      s  ssskssphrlpscsxrfsr
2    14     18      p  ppppppppppppppppppp
3     1      6      z       zzlzvmqbzzclrz
4     4      5      j          jhjjhxhjkxj

In [92]:
def is_valid(row):
    return (row.password[row.left-1] == row.target) ^ (row.password[row.right-1] == row.target)

In [94]:
df['valid'] = df.apply(is_valid, axis=1)

In [96]:
df['valid'].sum()

509